body {
    background: white;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#444;
    line-height: 1.4;
}
#content-wrap {
    width: 960px;
    height:500px;
    margin-left: auto;
    margin-right: auto;
}